network:
  version: 1
  config:
    - type: physical
      name: ens18
      subnets:
        - type: static
          address: ${ip_address}
          netmask: ${subnet_mask}
          gateway: ${gateway_address}
          dns_nameservers:
            - ${gateway_address}
