---
# Encrypted variables - Ansible Vault
vault:
  # K3s secrets
  cluster:
    k3s:
     token: {{ k3s_token }}
  authentik:
    server:
      secret_key: {{ authentik_secret_key }}
    db:
      password: {{ authentik_db_password }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
  argocd:
    tunnel:
      id: {{ argocd_cloudflare_tunnel_id }}
      token: {{ argocd_cloudflare_tunnel_token }}
  authelia:
    keys:
      jwt_token: {{ authelia_jwt_token }}
      session_encryption_key: {{ authelia_session_encryption_key }}
      storage_encryption_key: {{ authelia_storage_encryption_key }}
      oidc_hmac_secret: {{ authelia_oidc_hmac_secret }}
      oidc_private_secret: {{ authelia_oidc_private_secret }}
    passwords:
      ldap_password: {{ openldap_admin_password }}
      redis_password: {{ authelia_redis_password }}
      smtp_password: {{ smtp_password }}
      storage_password: {{ authelia_db_password }}
  keycloak:
    db:
      password: {{ keycloak_db_password }}
      username: keycloak
  openldap:
    admin:
      password: {{ openldap_admin_password }}
      config_password: {{ openldap_admin_config_password }}
  # Traefik secrets
  traefik:
    admin:
      user: root
      password: {{ traefik_basic_auth_password }}
  # Minio S3 secrets
  minio:
    root:
      user: root
      key: {{ minio_root_password }}
    longhorn:
      user: longhorn
      key: {{ minio_longhorn_password }}
    velero:
      user: velero
      key: {{ minio_velero_password }}
    loki:
      user: loki
      key: {{ minio_loki_password }}
    tempo:
      user: tempo
      key: {{ minio_tempo_password }}
  # elasticsearch and fluentd
  logging:
    es-admin:
      user: admin
      password: {{ elasticsearch_admin_password }}
    es-fluentd:
      user: fluentd
      password: {{ elasticsearch_fluentd_password }}
    es-prometheus:
      user: prometheus
      password: {{ elasticsearch_prometheus_password }}
    fluentd:
      shared_key: {{ fluentd_shared_key }}
  # Grafana
  grafana:
    admin:
     user: admin
     password: {{ grafana_admin_password }}
  # Certmanager
  certmanager:
    cloudflare:
      email: {{ cloudflare_email }}
      api_key: {{ cloudflare_api_key }}
  # Coder
  coder:
    db:
      password: {{ coder_db_password }}
      url: {{ coder_db_url }}
  # Vaultwarden
  vaultwarden:
    admin:
      token: {{ vaultwarden_admin_token }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
    yubico:
      client_id: {{ yubico_clientid }}
      secret_key: {{ yubico_secretkey }}
    db:
      password: {{ vaultwarden_db_password }}
      url: {{ vaultwarden_db_url }}
  # gitea
  gitea:
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
    admin:
        password: {{ gitea_admin_password }}
        username: gitea-admin
  # onedev
  onedev:
    db:
      password: {{ onedev_db_password }}
    admin:
      password: {{ onedev_admin_password }}
      username: onedev-admin
  # joplin
  joplin:
    db:
      password: {{ joplin_db_password }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
  # vikunja
  vikunja:
    db:
      password: {{ vikunja_db_password }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
  # nocodb
  nocodb:
    db:
      password: {{ nocodb_db_password }}
      url: {{ nocodb_db_url }}
    admin:
      password: {{ nocodb_admin_password }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
  # nextcloud
  nextcloud:
    db:
      password: {{ nextcloud_db_password }}
      username: nextcloud
    admin:
      username: admin
      password: {{ nextcloud_admin_password }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
    redis:
      password: {{ nextcloud_redis_password }}
  # n8n
  n8n:
    db:
      password: {{ n8n_db_password }}
    worker:
      encryption_key: {{ n8n_worker_key }}
    tunnel:
      id: {{ n8n_cloudflare_tunnel_id }}
      token: {{ n8n_cloudflare_tunnel_token }}
  # firefly-iii
  fireflyiii:
    token:
      cron: {{ fireflyiii_cron_token }}
      api: {{ fireflyiii_api_token }}
    db:
      password: {{ fireflyiii_db_password }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
  # ryot
    db:
      password: {{ ryot_db_password }}
      url: {{ ryot_db_url }}
    twitch:
      client_id: {{ twitch_clientid }}
      client_secret: {{ twitch_secretkey }}
  # homebox
  homebox:
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}