---
# Encrypted variables - Ansible Vault
vault:
  # K3s secrets
  cluster:
    k3s:
     token: {{ k3s_token }}
  # Traefik secrets
  traefik:
    admin:
      user: root
      password: {{ traefik_basic_auth_password }}
  # Minio S3 secrets
  minio:
    root:
      user: root
      key: {{ minio_root_password }}
    longhorn:
      user: longhorn
      key: {{ minio_longhorn_password }}
    velero:
      user: velero
      key: {{ minio_velero_password }}
    loki:
      user: loki
      key: {{ minio_loki_password }}
    tempo:
      user: tempo
      key: {{ minio_tempo_password }}
  # elasticsearch and fluentd
  logging:
    elastic:
      user: elastic
      password: {{ elasticsearch_admin_password }}
    fluentd:
      shared_key: {{ fluentd_shared_key }}
  # Grafana
  grafana:
    admin:
     user: admin
     password: {{ grafana_admin_password }}
  # Certmanager
  certmanager:
    cloudflare:
      email: {{ cloudflare_email }}
      api_key: {{ cloudflare_api_key }}
  # Coder
  coder:
    db:
      password: {{ coder_db_password }}
      url: {{ coder_db_url }}
  # Vaultwarden
  vaultwarden:
    admin:
      token: {{ vaultwarden_admin_token }}
    smtp:
      username: {{ smtp_username }}
      password: {{ smtp_password }}
    yubico:
      client_id: {{ yubico_clientid }}
      secret_key: {{ yubico_secretkey }}
    db:
      password: {{ vaultwarden_db_password }}
      url: {{ vaultwarden_db_url }}